.Task {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

/*TOP ROW*/
.TopRow {
    display: flex;
    justify-content: flex-end;
}

.Info {
    flex:auto;
    padding: 10px;
}

.Info > div {
   margin-bottom: 4px;
}

.Button {
    width: 50px;
    padding: 10px;
}

.Expand > img {
    width: 100%;
}
/*More Info*/
.MoreInfo {
    padding: 10px;
}